@tailwind base;
@tailwind components;
@tailwind utilities;


.checkmark {
    animation: checkmark 1s ease-in-out;
    color: greenyellow;
  }
  
  @keyframes checkmark {
    0% { transform: scale(0); }
    100% { transform: scale(1); }
  }